.heat-slider-section{
    width: 100%;
    overflow: hidden;
    background: #f4dfd5;
    padding: 4rem 0;
}

.heat-slider-track{
    display: flex;
    width: max-content;
    gap: 2rem;
}

.heat-slider-track h1{
    font-size: clamp(6rem,10vw,12rem);
    font-weight: 900;
    white-space: nowrap;
    color: #5a171f;
    letter-spacing: -4px;
    line-height: 1;
}